@font-face {
  font-family: "iconfont"; /* Project id 2618543 */
  src: url('iconfont.woff2?t=1624085260617') format('woff2'),
       url('iconfont.woff?t=1624085260617') format('woff'),
       url('iconfont.ttf?t=1624085260617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-return:before {
  content: "\e665";
}

.icon-wushuju:before {
  content: "\e600";
}

.icon-comment:before {
  content: "\e602";
}

.icon-qzone:before {
  content: "\e603";
}

.icon-category:before {
  content: "\e604";
}

.icon-qq:before {
  content: "\e605";
}

.icon-mail:before {
  content: "\e606";
}

.icon-single:before {
  content: "\e607";
}

.icon-tag:before {
  content: "\e608";
}

.icon-time:before {
  content: "\e609";
}

.icon-search:before {
  content: "\e60a";
}

.icon-top:before {
  content: "\e60b";
}

.icon-user:before {
  content: "\e60c";
}

.icon-view:before {
  content: "\e60d";
}

.icon-weixin:before {
  content: "\e60e";
}

.icon-weibo:before {
  content: "\e60f";
}

.icon-cloud:before {
  content: "\e610";
}

.icon-earth:before {
  content: "\e611";
}

.icon-collect:before {
  content: "\e612";
}

.icon-pengyou:before {
  content: "\e613";
}

.icon-zan:before {
  content: "\e614";
}

.icon-android:before {
  content: "\e615";
}

.icon-apple:before {
  content: "\e616";
}

.icon-heart:before {
  content: "\e617";
}

.icon-close:before {
  content: "\e618";
}

.icon-link:before {
  content: "\e619";
}

.icon-feed:before {
  content: "\e61a";
}

